<div class="footer-nav">
    <div class="content mw1200">
        <div class="left">
            <dl>
                <dt><a href="/contactUs">关于我们</a></dt>
                <dd>
                    <ul>
                        <li><a href="/contactUs">公司简介</a></li>
                        <li><a href="/contactUs">企业文化</a></li>
                        <li><a href="/contactUs">发展历程</a></li>
                        <li><a href="/contactUs">服务理念</a></li>
                        <li><a href="/jobs">招贤纳士</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><a href="/solution">解决方案</a></dt>
                <dd>
                    <ul>
                        <li><a href="javascript:void(0)">信贷员版</a></li>
                        <li><a href="javascript:void(0)">企业版</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><a href="/joinUs">合作加盟</a></dt>
                <dd>
                    <ul>
                        <li><a href="/joinUs">城市合伙人</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><a href="/contactUs">联系我们</a> </dt>
                <dd>
                    <div class="connact">
                        <div class="tel">
                            <div class="icon"></div>
                            <div class="tels">
                                <div>400-676-0009</div>
                                <div>027-85500630</div>
                            </div>
                        </div>
                        <div class="address">
                            <div class="icon"></div>
                            <div>武汉市江岸区福星国际 商户大厦2210室</div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="right">
            <div class="vertical-line"></div>
            <dl>
                <dt>关注我们</dt>
                <dd>
                    <div class="item">
                        <div class="img wx"></div>
                        <div class="name">微信公众号</div>
                    </div>
                    <div class="item">
                        <div class="img app"></div>
                        <div class="name">下载APP</div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>