<div class="product-cooperations">
    <%- include('./partialsTitle', { title: '合作品牌-', desc: 'Cooperation Brand' }) %>
    <div class="cooperations-box mw1200">
        <ul class="cooperations">
            <li>
                <img src="/images/partner-1.png" alt="快钱" />
            </li>
            <li>
                <img src="/images/partner-2.png" alt="通联支付" />
            </li>
            <li>
                <img src="/images/partner-3.png" alt="宜信惠普" />
            </li>
            <li>
                <img src="/images/partner-4.png" alt="统统付" />
            </li>
            <li>
                <img src="/images/partner-5.png" alt="银商信付" />
            </li>
        </ul>
    </div>
</div>