<!doctype html>
<html lang="zh-cn">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/backEnd/reset.css">
    <style>
      ul li { 
        padding: 5px 10px;
      }
      ul li a{
        color: #00b5fd;
      }
      ul li a:hover{
        color: #0491ca;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
      <ul>
        <li><a href="/backend/addArticle">添加文章</a></li>
        <li><a href="/backend/articleList">文章列表</a></li>
        <li><a href="/backend/partners">合作伙伴</a></li>
        <li><a href="/backend/metas">页面meta</a></li>
      </ul>
  </body>
</html>