<!doctype html>
<html lang="zh-cn">
  <head>
    <link rel="stylesheet" href="">
  </head>
  <script src="/javascripts/jquery-1.11.1.min.js" crossorigin="anonymous"></script>
  <body>
    提示：<%= msg %> <a href="/backend/login">去登陆</a>
  </body>
</html>