<!doctype html>
<html lang="zh-cn">
  <head>
    <title>moxiao data</title>
    <link rel="stylesheet" href="/stylesheets/backEnd/reset.css">
    <link rel="stylesheet" href="/stylesheets/backEnd/supersized.css">
    <link rel="stylesheet" href="/stylesheets/backEnd/login.css">
  </head>
  <body>
    <div class="login-page">
      <div class="login-form">
        <h1>MoXiao Data</h1>
        <div class="login-box">
          <div class="name">
            <input id="name" type="text" name="name" placeholder="请输入账户" />
            <span class="error"></span>
          </div>
          <div class="pwd">
            <input id="pwd" type="password" name="password" placeholder="请输入密码" />
            <span class="error"></span>
          </div>
          <button id="submit">登陆</button>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery-cookie.js"></script>
    <script src="/javascripts/ajax-common.js?version=1.0"></script>
    <script src="/javascripts/backEnd/supersized.3.2.7.min.js"></script>
    <script src="/javascripts/backEnd/md5-min.js"></script>
    <script src="/javascripts/backEnd/login.js"></script>
  </body>
</html>